*.pt
*.ckpt
*.mat
*.pdf
*.png
*.txt
# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar
*.tar.gz
*.rar
*pyc
*.csv
.vscode
wandb
cifar-10-batches-py
FashionMNIST
MNIST
KMNIST
Images
stl10_binary
cifar-100-python

*.json
media
run_data
Scatter_Plots
*.rar
Caltech101
widerface
celeba
places365
VOC
ImageNet
Caltech256
tiny-imagenet-200
CUB_200_2011
indoorCVPR_09
stanford_dogs
